*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Besley', serif;
}

header{
    width: 100%;
    background-color: black;
    color: #EC732E;
    padding: 10px 0 10px 40px;
}

.general-container{
    width: 960px;
    margin: 20px auto;
    /* border: 1px solid black; */
    min-height: 300px;
}
/* Prodotto singolo */
.product{
    width: 315px;
    position: relative;
    display: inline-block;
}

.product img{
    width: 100%;
}

.add-on-favorites{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 0;
    background-color: white;
    line-height: 50px;
    text-align: center;
}
.heart{
    position: relative;
    left: 50%;
    top: 50%;
    display: inline-block;
    
}

.advice{
    position: absolute;
    bottom: 100px;
    color: white;
    padding: 0 5px;
    margin-right: 5px;

}

.green-advice{
    left: 50px;
    background-color: #00875B;
    margin-left: 10px;
}
.only{
    left: 0;
    margin: 0;
}
.red-advice{
    left: 0;
    background-color: #EB0038;
}
.text{
    display: block;
}

.description{
    font-weight: bold;
}
.current-price{
    color: #E80001;
    font-weight: bold;
    display: inline-block;
}
.original-price{
    position: relative;
    text-decoration: line-through;
}

/* seconde immagini */

/* top o bottom 0 vanno bene lo stesso */
.product-overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
}

.product:hover .product-overlay{
    display: inline-block;
}